#main {
    border-style: solid;
    border-color: palevioletred;
    border-width: 2px;
    padding-left: 20px;
    position: relative;
    z-index:2;
}

.pink {
    color: pink;
}



@media (min-width: 600px) {
    #container {
        display: flex;
    }
    
    #main {
        width: 70%;
    }
    
    #sidebar {
        width: 30%;
    }
}

#sidebar {
    padding-left: 20px;
}

body{
    background-image: url(menubackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    opacity: 0.5;
    color: red;
}

button:hover{
    opacity: 1;
    color: white;
}

.main-image{
    height: 100%;
    width: 100%;
    object-fit:contain;
    margin-top: -30px;
    margin-left:-10px;
    position: relative;
    z-index: 1;
}